<header>
    <h1>Chess Hive</h1>
    <nav>
        <ul class="nav-links">
            <li><a href="/" onclick="event.preventDefault();">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Join Community</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>    
</header>
