<nav class="dashboard-links">
    <h2 class="secondary-header">Admin Dashboard</h2>
    <a href="/admin/organizer_management">Manage Organizers</a>
    <a href="/admin/coordinator_management">Manage Coordinators</a>
    <a href="/admin/admin_tournament_management">Tournament Approvals</a>
    <a href="/admin/payments">Payments & Subscriptions</a>
    <a href="/admin/global_chat">Global Chat</a>
</nav>