<footer>
    <div>
        <p>&copy; <%= new Date().getFullYear() %> Chess Hive</p>
    </div>
    <nav class="social-links">
        <a href="#">Facebook</a> 
        <a href="#">Twitter</a>  
        <a href="#">Instagram</a>
    </nav>
</footer>