<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Organizer Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/primary_styles.css">
</head>
<body>
    <div class="container">
        <h2 class="black-h2">Chess Organizer Profile</h2>
        <div class="stats">
            <p><strong>Name:</strong> <%= organizer.name %></p>
            <p><strong>Email:</strong> <%= organizer.email %></p>
            <p><strong>Experience:</strong> <%= organizer.experience %></p>
        </div>
    </div>
</body>
</html>
