<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Dashboard</title>
    <link rel="stylesheet" href="/css/primary_styles.css">
</head>
<body>
    <div class="container">
        <h2 class="black-h2">All Products Added</h2>
        <div class="table-div">
            <table id="productListTable"></table>
        </div>
    </div>

    <div class="container">
        <h2 class="black-h2">Sales Report</h2>
        <div class="table-div">
            <table id="salesReportTable"></table>
        </div>
    </div>

    <script src="/js/organizer_script.js"></script>
</body>
</html>
