<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer Management</title>
    <link rel="stylesheet" href="/css/primary_styles.css">
</head>
<body>
    <div class="container">
        <h2 class="black-h2">Organizer Management</h2>
        <div class="table-div">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>College</th>
                    <th>Actions</th>
                </tr>
                <% organizers.forEach(organizer => { %>
                <tr>
                    <td><%= organizer.name %></td>
                    <td><%= organizer.email %></td>
                    <td><%= organizer.college %></td>
                    <td>
                        <button onclick="removeOrganizer('<%= organizer.email %>', this)">Remove</button>
                    </td>
                </tr>
                <% }); %>
            </table>
            <div class="back-container">
                <a href="/admin_dashboard" class="back">Back to Dashboard</a>
            </div>
        </div>
    </div>
    <script src="/js/organizer_management.js"></script>
</body>
</html>
