<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinator Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/primary_styles.css">
</head>
<body>
    <div class="container">
        <h1>Coordinator Profile</h1>
        <div class="form-container">
            <p><strong>Unique ID:</strong> <%= coordinator.id %></p>
            <p><strong>Email:</strong> <%= coordinator.email %></p>
            <p><strong>College:</strong> <%= coordinator.college %></p>
        </div>
        <div class="back-container">
            <a href="/coordinator/coordinator_dashboard" class="back">Back to Dashboard</a>
        </div>
    </div>
</body>
</html>
