<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/primary_styles.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>Store Management</h2>
        <form id="productForm">
            <label>Product Name:</label>
            <input type="text" id="productName" required>
            <label>Price:</label>
            <input type="number" id="productPrice" required>
            <label>Image URL:</label>
            <input type="text" id="productImage" required>
            <label>Coordinator Name:</label>
            <input type="text" id="coordinatorName" required>
            <label>College Name:</label>
            <input type="text" id="collegeName" required>
            <button type="submit">Add Product</button>
        </form>
    </div>

    <div>
        <h2 class="black-h2">Products List</h2>
        <div id="products"></div>
        <div class="form-container back-container">
            <a href="/coordinator/coordinator_dashboard" class="back">Back to Dashboard</a>
        </div>
    </div>
</div>

<script src="/js/store_script.js"></script>
</body>
</html>
